<!DOCTYPE html>
<html>
    <head>
        {% load static%}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
         <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
         <link href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
        
    </head>

    <body style="padding: 20px;">
        <div style="align-self: flex-end;">
            {% if request.user.is_authenticated%}
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button type="submit" class="btn btn-danger pull-right">Log Out</button>
                </form>
            {% else %}
                <a class="btn btn-primary" href="/accounts/login">Login</a>
            {% endif %}
        </div>
        {% block content %}
        {% endblock %}

        <script src="{% static 'HZpagination.js' %}"></script>
    </body>
</html>